<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-25 bg-white p-4 shadow">
      <img src="../../assets/images/logo.png" class="w-50 mb-4" alt="">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-group">
          <!-- <label>UserId</label> -->
          <input class="form-control" type="text" formControlName="userName" placeholder="Enter UserId">
        </div>
        <div *ngIf="signupForm.get('userName').errors && isSubmitted">
          <div *ngIf="signupForm.get('userName').hasError('required')">
            <span style="color: red;">Please enter userId.</span>
          </div>
        </div>
        <div class="form-group">
          <!-- <label>Password</label> -->
          <input class="form-control" type="text" formControlName="password" placeholder="Enter Password">
        </div>
        <div *ngIf="signupForm.get('password').errors && isSubmitted">
          <div *ngIf="signupForm.get('password').hasError('required')">
            <span style="color: red;">Please enter password.</span>
          </div>
        </div>
        <div class="form-group">
          <!-- <label>Conform Password</label> -->
          <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Conform Password">
        </div>
        <div *ngIf="signupForm.get('confirmPassword').errors && isSubmitted">
          <div *ngIf="signupForm.get('confirmPassword').hasError('required')">
            <span style="color: red;">Please Enter Confirm Password.</span>
          </div>
          <div *ngIf="signupForm.get('password').hasError('MustMatch')">
            <span style="color: red;">Password not match.</span>
          </div>
        </div>
        <button class="btn btn-primary" style="margin-right: 2px;" type="submit">SignUp</button>
        <button class="btn btn-primary" routerLink="">LogIn</button>
      </form>
    </div>
</div>
