<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-25 bg-white p-4 shadow">
      <form [formGroup]="changePass">
        <div class="form-group">
          <label>Old Password</label>
          <input class="form-control" type="text" formControlName="oldPass" placeholder="Enter Old Password">
        </div>
        <div *ngIf="changePass.get('oldPass').errors && isSubmitted">
          <div *ngIf="changePass.get('oldPass').hasError('required')">
            <span style="color: red;">Please enter old password.</span>
          </div>
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input class="form-control" type="text" formControlName="password" placeholder="Enter New Password">
        </div>
        <div *ngIf="changePass.get('password').errors && isSubmitted">
          <div *ngIf="changePass.get('password').hasError('required')">
            <span style="color: red;">Please enter new password.</span>
          </div>
        </div>
        <div class="form-group">
          <label>Conform Password</label>
          <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Conform Password">
        </div>
        <div *ngIf="changePass.get('confirmPassword').errors && isSubmitted">
          <div *ngIf="changePass.get('confirmPassword').hasError('required')">
            <span style="color: red;">Please Enter Confirm Password.</span>
          </div>
          <div *ngIf="changePass.get('password').hasError('MustMatch')">
            <span style="color: red;">Password not match.</span>
          </div>
        </div>
        <button class="btn btn-primary" (click)="changePassword()" style="margin-right: 2px;" type="submit">Submit</button>
        <button class="btn btn-primary" (click)="resetForm()">Cancel</button>
      </form>
    </div>
</div>
